.expo
.github
.vscode
lib
node_modules
android
ios
package.json
renovate.json
tsconfig.json

README.md
.eslintrc.js

__mocks__/*.js
__tests__/*.tsx
jest.config.js
tsconfig.json
tsconfig.spec.json
babel.config.js